body {
    background-color:rgb(225, 197, 197);
    background-image: linear-gradient(to bottom left, rgb(231, 229, 229), rgb(226, 201, 201));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* estiliza a tag header */
header {
    background-color: rgb(187, 0, 0);
    top: 0;
}

/* estiliza a div com a classe titulo */
.titulo {
    height: 98px;
}

/* estiliza todos os links dentro do titulo, que no caso é o "CEEP-Cianorte" */
.titulo a {
    font-size: 35px;
    font-weight: bold;
    padding: 0.6em;
    margin-top: 0.3em;
    margin-left: 3.15em;
    position: absolute;
    color: white;
    text-decoration: none;
}

/* estiliza a logo da escola */
.logo-ceep {
    width: 90px;
    height: 90px;
    background-image: url(Assets/Logo-CEEP.png);
    background-size: cover;
    position: absolute;
    margin-top: 0.25em; 
    margin-left: 0.8em;
}

/* estiliza a logo do governo do paraná */
.logo-parana {
    width: 150px;
    height: 90px;
    background-image: url(Assets/brasao_governo.png);
    background-size: cover;
    position: relative;
    float: right;
    right: 1em;
}

/* estiliza a logo da escola quando o mouse passar por cima */
.logo-ceep:hover {
    width: 91px;
    height: 91px;
    opacity: 0.9;
}

/* estilaza o "CEEP-Cianorte" quando o mouse passar por cima */
.titulo a:hover {
    border: 1px solid white;
}

/* estiliza a ul da parte da navegação */
header ul {
    background-color: rgb(222, 84, 84);
    height: 45px;
}

/* estiliza cada li da ul */
header ul li {
    display: flexbox;
    flex-direction: row;
    font-size: 0;
    position: relative;
}

/* estiliza os links das li */
header ul li a{
    font-size: 20px;
    padding: 0.6em 1em;
    float: left;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* estiliza o botão de menu */
header ul li button {
    font-size: 20px;
    padding: 0.5em 1em 0.5em 2.4em;
    float: left;
    text-decoration: none;
    border: none;
    color: white;
    font-weight: bold;
    background-color:  rgb(222, 84, 84);
}

/* estiliza o botão do menu com o passar do mouse */
header ul li button:hover {
    border: 1.5px solid white;
    background-color: rgb(218, 65, 65);
    cursor: pointer;
}

/* estiliza p botão do menu quando for clicado */
header ul li button:active {
    background-color: rgb(212, 34, 34);
}

/* estiliza a div do botão */
header ul li div {
    height: 1px;
    width: 1px;
    position: relative;
    bottom: 12px;
    right: 2.4px;
}

/* estiliza a imagem que esta junta do botão */
.menui {
    top: 7px;
    height: 35px;
    width: 35px;
    background-image: url(Assets/Menu.png);
    background-size: cover;
    position: absolute;
}

/* faz o efeito de passar com o mouse em todos os
 links da nav */
header ul li a:hover, .dropdown:hover .dropbtn {
    border: 1.5px solid white;
    background-color: rgb(218, 65, 65);
}

/* faz o efeito do clique em todos os links da nav e
os links do DropDown*/
header ul li a:active, .drop .dropdown-content a:active,
header ul li .drop1 .dropdown-content a:active, 
header ul li .drop2 .dropdown-content a:active, 
header ul li .drop4 .dropdown-content a:active, 
.dropdown .dropbtn:active {
    background-color: rgb(212, 34, 34);
}

/* estiliza os links da matricula e do login do lado direito */
.Matricula, #login {
    top: 0px;
    float: right;
}

/* faz o efeito de passar por cima do login e da matricula */
.Matricula:hover, #login:hover {
    background-color: rgb(131, 33, 33);
}

/* faz o efeito de clique no login e na matricula */
.Matricula:active, #login:active {
    background-color: rgb(113, 16, 16);
}

/* estiliza cada link do DropDown dos Contatos */
.dropdown .drop1 .dropdown-content a {
    width: 225px;
}

/* estiliza os links do DropDown do login*/
.dropdown .drop4 .dropdown-content a {
    width: 12.25vh;
}

/* estiliza a div do DropDown dos cursos */
.dropdown .drop {
    left: 124px;
}

/* estiliza a div do DropDown dos contatos */
.dropdown .drop1 {
    left: 232px;
}

/* estiliza a div do DropDown dos laboratorios */
.dropdown .drop2 {
    left: 348.5px;
}

/* estiliza a div da localização*/
.dropdown .drop3 {
    left: 509.5px;
}

/* estiliza a div do login*/
.dropdown .drop4 {
    float: right;
}

/* estiliza a div em que os links do DropDown estão inceridos */
.dropdown-content {
    display: none;
    position: absolute;
    top: 57.5px;
}

/* estiliza os links de todos os DropDown */
.dropdown-content a {
    background-color: rgb(255, 68, 68);
    font-size: 15px;
    padding: 0.9em;
    width: 120px;
    text-align: left;
}

/* faz o efeito de passar com o mouse em todos os links do DropDown */
.dropdown-content a:hover {
    background-color: rgb(244, 84, 84);
}

/* quando passar o mouse sobre os links da nav, faz com que os DropDown apareçam */
.dropdown:hover .dropdown-content {
    display: block;
}

/* estiliza a div em que a foto e os textos estão presentes */
main section .sobre {
    max-width: 1000px;
    max-height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    box-shadow: 7px 7px 12px rgb(242, 89, 89);
    background-image: linear-gradient(to top left,  #f68181, rgb(254, 94, 94));
}

/* estiliza a imagem do CEEP que esta dentro do sobre*/
.sobre .img {
    float: left;
    max-width: 50%;
    margin: 5px 25px 5px 5px;  
}

/* faz o efeito de passar com o mouse na imagem */
.sobre .img:hover {
    opacity: 0.96;
    max-height: 65.1%;
}

/* estiliza a div que contem a div sobre */
.content {
    border: 1.5px solid white;
}

/* estiliza o titulo do sobre */
.sobre h2 {
    padding: 1em 0.75em 0.5em 0.75em;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* estiliza os paragrafos do sobre */
.sobre p {
   font-size: 20px;
   color: white;
   margin: 0.7em 1em 0.75em 0.75em;
   text-indent: 35px;
   font-weight: 900;
   line-height: 1.75em;
   word-spacing: 0.2em;
   text-align: justify;
}

/* estiliza a div que contem os elementos do footer */
footer .foot {
    height: 300px;
    width: 100%;
    background-color: #535353;
}

/* estiliza os paragrafos do footer */
.foot p {
    margin-top: 0.5em;
    line-height: 2em;
    color: white;
}

/* estiliza o segundo filho da div foot, que é "Endereço: R. Dom Pedro II,
 1550 -Zona 01," */
.foot p:nth-child(2) {
    margin-top: 1.5em;
}

/* estiliza o terceiro filho da div foot */
.foot p:nth-child(3) {
    max-width: 350px;
    border-top: 0.5px solid white;
}

/* estiliza o paragrafo da div foot com a classe criadores */
.criadores {
    float: right;
}

/* estiliza a logo do CEEP do footer */
.img-footer {
    max-width: 8%;
}



/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    header {   
        max-width: 100vh;
    }

    .titulo a {
        padding: 0.4em;
        margin: 5.1% 0 0 25%;
        font-size: 25px;
    }

    .logo-ceep {
        width: 80px;
        height: 80px;
    }

    .logo-parana {
        width: 120px;
        height: 75px;
        right: 0.1em;
        top: 0.5em;
    }

    header ul li a{
        display: none;
    }

    main section .sobre {
        width: 90%;
    }

    main section .sobre p{
        font-size: 16px;
    }

     section .sobre .img{
        min-width: 95%;
    }

    footer .foot {
        height: 250px;
    }

    .foot .img-footer {
        max-width: 20%;
    }

}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {

}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {

}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {

}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {

}
